.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding: 5px !important;
}

.bag-profile-user{
    background: #009EF7;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.name-profile {
    margin-bottom: -7px;
}

.name-profile>label {
    margin-bottom: 0px;
}

.image-profile span {
    font-size: 10px;
    color: #777777;
}

.dashboard .row {
	margin-right: 0px !important;
    margin-left: 0px !important;
}

.it-content {
    padding: 20px;
    background-color: #FBFBFB;
}

.box-content {
	border-radius: 20px;
	padding: 15px 20px;
	border: 1px solid #EFF0F6;
    background-color: #fff;
}

.project-team-it.box-content {
    background: linear-gradient(126.69deg, #EFDCFF 28.65%, #E2BAFA 84.56%);
}

.project-team-it .table-content thead tr {
    border-bottom: 1px solid #D19CEE;
}

.project-team-it .table-content th.head-team {
    color: #AE36F0;
    font-size: 12px;
}

.project-team-it tbody tr {
    border-bottom: 2px solid #E2BAFA;
    border-collapse: collapse;
    background-color: #fff;
}

.project-team-it tbody td.body-team {
    font-weight: 600;
}

.project-team-it .table-content .bag-profile-user{
	width: 30px;
	height: 30px;
}