.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding: 5px !important;
}

.bag-profile-user{
    background: #009EF7;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (min-width: 768px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
}

.square-color {
    height: 60px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(126.69deg, #EFDCFF 28.65%, #E2BAFA 84.56%);
    color: #9D28DD;
    font-size: 10px;
    padding: 10px 3px;
    text-align: center;
    display: inline-block;
}

.square-color .plan{
    top: 50%;
    left: 50%;
}

.start-date{
    height: 60px;
    width: 65px;
    font-size: 10px;
    padding: 10px 3px;
    background: #FAFAFA;
    background-size: 100% 100%;
    color: #000000;
    display: inline-grid;
    text-align: start;
}

.start-date span{
    display: block;
}


.finish-date{
    height: 60px;
    width: 65px;
    font-size: 10px;
    padding: 10px 3px;
    background: #FAFAFA;
    background-size: 100% 100%;
    color: #000000;
    display: inline-grid;
    text-align: start;
}

.finish-date span{
    display: block;
}

table.table-content {
    width: 100%;
}

td.body-team {
    padding: 1px 3px;
    font-size: 13px;
}

.name-profile {
    margin-bottom: -7px;
}

.name-profile>label {
    margin-bottom: 0px;
}

.image-profile span {
    font-size: 10px;
    color: #777777;
}

.dashboard .row {
	margin-right: 0px !important;
    margin-left: 0px !important;
}

.it-content {
    padding: 20px;
    background-color: #FBFBFB;
}

.box-content {
	border-radius: 20px;
	padding: 15px 20px;
	border: 1px solid #EFF0F6;
    background-color: #fff;
    height: 100%;
}

.project-team-it.box-content {
    background: linear-gradient(126.69deg, #EFDCFF 28.65%, #E2BAFA 84.56%);
}

.project-team-it .table-content thead tr {
    border-bottom: 1px solid #D19CEE;
}

.project-team-it .table-content th.head-team {
    color: #AE36F0;
    font-size: 12px;
}

.project-team-it tbody tr {
    border-bottom: 2px solid #E2BAFA;
    border-collapse: collapse;
    background-color: #fff;
}

.project-team-it tbody td.body-team {
    font-weight: 600;
}

.project-team-it .table-content .bag-profile-user{
	width: 30px;
	height: 30px;
}

label.title-progress {
    font-size: 16px;
    color: #4D4D4DD6;
    line-height: 1.1;
    font-weight: 600;
}

.label-chart .square-color {
    height: 15px;
    width: 15px;
    border-radius: 5px;
}

.label-chart>span {
    font-size: 12px;
    font-weight: 600;
    color: #7b7b7b;
}

.label-chart label {
    font-size: 17px;
}

.header-complain {
    margin-bottom: 10px;
}

.header-complain label.title-progress {
    width: 60%;
}

.header-complain .square-color {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 3px;
}

.header-complain>span {
    font-size: 12px;
    font-weight: 600;
    color: #7b7b7b;
}

.complain-bug-it .table-content th.head-team {
    color: #A5A5A5;
    font-size: 12px;
}

.complain-bug-it .table-content thead tr,
.complain-bug-it .table-content tbody tr {
    border-bottom: 1px solid #DEDEDE;
    border-collapse: collapse;
}

.complain-bug-it .table-content td.body-team {
    font-weight: 600;
}

.project-total {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 6px;
    background-color: #9D28DD;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    top: 6px;
    border-radius: 0px 20px 0px 15px;
}

label.task-label {
    font-size: 17px;
    margin: 10px 0 0 0;
    display: block;
    font-weight: 500;
}

label.role-label {
    font-size: 12px;
    font-weight: 400;
    color: #777777;
    display: block;
}

.date-project {
    padding: 0 0 10px 0;
}